
  <!-- Main NavBar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container-fluid">

      <a class="navbar-brand" href="/"><img src="/images/ogyenlogo1.jpg" style="height: 20%; width: 20%;" alt=""></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ms-auto mb-5 mb-lg-2">

 

          <li class="nav-item">

            <% if (title == "Home") { %>

            <a class="nav-link active" aria-current="page" href="/home"><i class="fas fa-lg fa-home"></i> Home</a>

            <% } else { %>

            <a class="nav-link" aria-current="page" href="/home"><i class="fas fa-lg fa-home"></i> Home</a>

            <% } %>

          </li>

 

          <li class="nav-item">

            <% if (title == "About") { %>

            <a class="nav-link active" aria-current="page" href="/about"><i class="fas fa-lg fa-info-circle"></i> About Me</a>

            <% } else { %>

            <a class="nav-link" aria-current="page" href="/about"><i class="fas fa-lg fa-info-circle"></i> About Me</a>

            <% } %>

          </li>

 

          <li class="nav-item">

            <% if (title == "Projects") { %>

            <a class="nav-link active" aria-current="page" href="/projects"><i class="fas fa-lg fa-laptop"></i> Projects</a>

            <% } else { %>

            <a class="nav-link" aria-current="page" href="/projects"><i class="fas fa-lg fa-laptop"></i> Projects</a>

            <% } %>

          </li>

 

          <li class="nav-item">

            <% if (title == "Services") { %>

            <a class="nav-link active" aria-current="page" href="/services"><i class="fab fa-lg fa-elementor"></i> Services</a>

            <% } else { %>

            <a class="nav-link" aria-current="page" href="/services"><i class="fab fa-lg fa-elementor"></i> Services</a>

            <% } %>

          </li>

 

          <li class="nav-item">

            <% if (title == "Contact") { %>

            <a class="nav-link active" aria-current="page" href="/contact"><i class="fas fa-lg fa-phone"></i> Contact</a>

            <% } else { %>

            <a class="nav-link" aria-current="page" href="/contact"><i class="fas fa-lg fa-phone"></i> Contact</a>

            <% } %>

          </li>

         
          <li class="nav-item">
            <% if (title == "Business Contacts List" || title == "Add a new Contact") { %>
              <a class="nav-link active" href="/business/list" role="button" data-toggle="dropdown"><i class="fas fa-briefcase"></i></i> Business Contacts</a>
            <% } else { %>
              <a class="nav-link" href="/business/list" role="button" data-toggle="dropdown"><i class="fas fa-briefcase"></i></i> Business Contacts</a>
            <% } %>                 
          </li>

          <li class="nav-item"><p> </p></li>

          <li class="nav-item">  
            <% if (typeof userName == 'string' && userName) { %>
              <a class="nav-link" href="/users/signout" onclick="return confirm('Are you sure?')">Sign Out (<%= userName %>)</a>
            <% } else { %>
              <a class="nav-link" href="/users/signin">Sign In</a>
            <% } %>            
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/signup" role="button" data-toggle="dropdown"> Sign Up</a>
          </li>

        </ul>


      </div>

    </div>

  </nav>