

<div class="container">

    <h1><%= title %></h1>

    <!-- About Page Content -->

    <!-- Profile Picture -->

    <div id="about">

        <div id="profilePic">

            <img src="images/ogyen1.jpg" height=200 width=200 alt="picture of me">

 
            <p> </p>

            <p> </p>

            <a href="https://drive.google.com/file/d/16Ll57mQVVMurGcRCzxZMBQhW-8HuwE2k/view?usp=sharing">My Resume</a>

            <p> </p>

            <p> </p>

            <a href="https://github.com/Ugyen5007">My (Ugyen) GitHub</a>

        </div>

 

        <!-- Personal Info Text -->

       

        <div id="personalInfo">

            <p> </p>

            <h3>Hi, I am Ugyen Thinley</h3>

            <p></p>

            <p>With a deep love for Software Engeeniring, a dedicated software engineering student on a journey to turn my passion for coding into real-world solutins.
               I am enthusiastic about all things tech.
            <br>Feel free to connect with me to discuss coding, share ideas, or simply chat about the latest tech trends. 
            <br>Lets' code the future together!</p>

            <p></p>

            <p>Junior Software Developer</p>

            <p></p>

            <p>Amateur Linguist</p>

            <p></p>

            <h6>Languages Spoken:</h6>

            <p></p>

            <p>English </p>

            <p></p>

            <h6>Languages Learning:</h6>

            <p></p>

            <p>Spanish, Korean, Mandarin</p>

            <p></p>

            <h6>Interests:</h6>

            <p></p>

            <p>Skydiving, Rock Climbing, Snowboarding & Skiing, Adventure Racing, Tech, Web Development</p>          

        </div>    

    </div>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

</div>

<p>&nbsp;</p>

<p>&nbsp;</p>
