

<div class="container">

    <h1><%= title %></h1>

    <!-- About Page Content -->

    <!-- Profile Picture -->

    <div id="about">

        <div id="profilePic">

            <img src="images/ogyen1.jpg" height=200 width=200 alt="picture of me">

 
            <p> </p>

            <p> </p>

            <a href="https://drive.google.com/file/d/1z1bVxhEjcu2JJ1IaK3mjLipOCkFMy-x7/view?usp=drive_link">My Resume</a>

            <p> </p>

            <p> </p>

            <a href="https://github.com/Ugyen5007">My (Ugyen) GitHub</a>

        </div>

 

        <!-- Personal Info Text -->

       

        <div id="personalInfo">

            <p> </p>

            <h3>Hi, I am Ugyen Thinley</h3>

            <p></p>

            <p>With a deep love for Software Engeeniring, a dedicated software engineering student on a journey to turn my passion for coding into real-world solutins.
               I am enthusiastic about all things tech.
            <br>Feel free to connect with me to discuss coding, share ideas, or simply chat about the latest tech trends. 
            <br><br>Lets' code the future together!</p>

            <p></p>

            <h3>Junior Software Developer</h3>

            <p></p>

            <p></p>

            <h3>Languages Spoken:</h3>

            <p></p>

            <p>Fluent in English </p>

            <p></p>

            <h3>Languages Learning:</h3>

            <p></p>

            <p>Conversant with French, Hindi & Hindi</p>

            <p></p>

            <h3>Interests:</h3>

            <p></p>

            <p>Skydiving, Rock Climbing, Snowboarding & Skiing, Adventure Racing, Tech, Web Development</p>          

        </div>    

    </div>

    <p>&nbsp;</p>

    <p>&nbsp;</p>

</div>

<p>&nbsp;</p>

<p>&nbsp;</p>
